@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
:root {
    --backgroung: #FFF8EE;
    --new: rgb(249,163,143);
    --report: hsl(29,66%,93%);
    --brown: #C47344;
    --cards: #FFFAF2;
    --form: #FAF7F3;
    --quiz: #32686F;
    --black: #322F2E;
    --report-text: #4D4D4D;
    --cards-border: #DDDDDD;
    --caption: #D3D3D3;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: Roboto;
}

header {
    background: var(--backgroung);
    height: 106px;
    padding: 0 70px;
    display: flex;
    align-items: center; 
    justify-content: space-between;
}

nav{
    height: 100%;
}

nav a{
    font-weight: 700;
    font-size: 15px;
    text-decoration: none;
    color: var(--black);
    display: block;
    padding: 14px 28px;
    line-height: 20px;
}

nav ul {
    list-style: none;
    height: 100%;
    display: flex;
    align-items: center;
}

.nav__button a{
    background: var(--brown);
    color: white;
    border-radius: 50px;
}

.markers {
    font-size: 15px;
    font-weight: 700;
    border-radius: 20px;
    line-height: 25px;
    width: fit-content;
    padding:0 11px;
}
.new {
    background: var(--new);
    color: white;
    height: 23px;
}
.report{
    background: var(--report);
    color: var(--report-text);
    position: relative;
    left: -10px;
}

.markers-container {
    display: flex;
}

.section-one{
    background: var(--backgroung);
    padding-top: 140px;
}

.action {
    width: 700px;
    height: 350px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 50px;
}

h1{
    font-weight: 700;
    font-size: 110px;
    line-height: 119px;
    text-align: center;
    color: var(--black);
}

.section-one p{
    font-weight: 500;
    font-size: 21px;
    line-height: 33px;
    text-align: center;
    color: var(--black);
}

.action__button{
    background: var(--brown);
    color: white;
    border-radius: 50px;
    border: none;
    width: fit-content;
    padding: 13px 31px;
    font-weight: bold;
}

.section-one a{
    color: var(--brown);
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    text-decoration: none;
    display: flex;
    align-items: center;
    width: 150px;
    margin: 0 auto;
    justify-content: space-between;
}

.brands{
    width: 100%;
    margin-bottom: 30px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.banner{
    width: 100%;
    height: auto;
}

.section-two{
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, #FFFFFF 100%), var(--backgroung);
    padding: 84px 0;
}

.cards__container{
    width: 80%;
    margin:0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.card{
    background: var(--cards);
    border: 1px solid var(--cards-border);
    border-radius: 10px;
    box-shadow: 1px 1px 20px rgba(0,0,0,0.08);
    width: 498px;
    height: 498px;
    margin: 25px;
    padding:0 27px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.card button{
    width: fit-content;
    padding: 13px 31px;
    font-weight: bold;
    background: none;
    border: 2px solid var(--cards-border); 
    border-radius: 50px;
    font-weight: 700;
    font-size: 15px;
    line-height: 20px;
    text-align: center;
}

h3{
    font-weight: 700;
    font-size: 42px;
    line-height: 52px;
    text-align: center;
    color: var(--black);
}

.section-two p{
    font-weight: 500;
    font-size: 16px;
    line-height: 28px;
    text-align: center;
    color: var(--black);
}

.quiz{
    background: var(--quiz);
    color:white;
    border-radius: 10px;
}

.quiz span{
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
}

h5{
    font-weight: 700;
    font-size: 28px;
    line-height: 32px;
}

.quiz button{
    background: none;
    border: none;
    border-top: 1px solid rgba(255, 255, 255, 0.18);
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    color: white;
}

h2{
    font-weight: 700;
    font-size: 53px;
    line-height: 62px;
    color: var(--black); 
}

.description p{
    font-weight: 500;
    font-size: 21px;
    line-height: 33px;
    color: var(--black);
}

.description button{
    background: none;
    border: 2px solid var(--cards-border); 
    border-radius: 50px;
    font-weight: 700;
    font-size: 15px;
    line-height: 20px;
    text-align: center;
}

.form-container{
    background: var(--form);
}

h4{
    font-weight: 700;
    font-size: 40px;
    line-height: 54px;
    color: var(--black);
}

.form-container p{
    font-weight: 500;
    font-size: 20px;
    line-height: 32px;
    color: var(--black);
}

.form-container form{
    background: white;
    border-radius: 10px;
    box-shadow: 0px 1px 12px rgba(0, 0, 0, 0.1);
}

.form-container input{
    border: none;
    background: none;
    color: hsla(0,0%,0%,0.45);
}

.form-container button{
    border: none;
    background: none;
}

.footer-text{
    font-weight: 400;
    font-size: 13px;
    line-height: 20px;
    color: var(--black);
    text-decoration: none;
}

h6{
    font-weight: 500;
    font-size: 13px;
    line-height: 20px;
    color: var(--black);
}

.footer-caption{
    font-weight: 400;
    font-size: 13px;
    line-height: 20px;
    color:var(--caption);
}